<%- include('partials/header')%>

<main class="d-flex flex-column flex-fill text-center justify-content-center">
  <div
    class="bg-warning w-50 mx-auto align-content-center"
    style="height: 300px"
  >
    <h1>ESSA PÁGINA NÃO EXISTE</h1>

    <a href="/">
      <button class="btn btn-lg btn-primary mx-2">
        Voltar para Início
      </button>
    </a>
  </div>
</main>

<%- include('partials/footer') %>
